{% extends 'base.html' %}
{% block content %}
<form action="{% url 'clientes' %}" method="GET">
    <div class="search-bar">
        <input type="text" name="q" placeholder="Buscar..." id="searchInput">
        <i class="ri-search-line"></i>
    </div>
</form>
<table class="container data-table">
    </form>
    <thead>
        <tr>
            <th>Patente</th>
            <th>Proxima Visita<button><i class="ri-filter-2-fill"></i></button></th>
            <th>Vehículo<button><i class="ri-filter-2-fill"></i></button></th>
            <th>Cliente<button><i class="ri-filter-2-fill"></i></button></th>
        </tr>
    </thead>
    <tbody id="clientesTable">
            {% for item in clientes %}
                <tr>
                    <td>{{ item.cliente.patente }}</td>
                    <td>{{ item.proxima_visita }}</td>
                    <td>{{ item.cliente.modelo }}</td>
                    <td class="openUser" data-cliente-id="{{ item.cliente.id }}">{{ item.cliente.nombre }}</td>
                </tr>
            {% endfor %}
    </tbody>
</table>
<script>
    
    $('#searchInput').on('input', function () {
        var query = $(this).val().trim();
    
        $.ajax({
            type: 'GET',
            url: '/buscar_cliente/',
            data: {
                q: query
            },
            success: function (response) {
                console.log(response)
                $('#clientesTable').empty();  // Vaciamos la tabla antes de actualizar
                if (response.length > 0) {
                    $.each(response, function (index, item) {
                        // Construir la fila de la tabla con los datos de cada cliente
                        var row = `<tr>
                            <td>${item.patente}</td>
                            <td>${item.ultima_visita}</td>
                            <td>${item.modelo}</td>
                            <td class="openUser" data-cliente-id="${item.id}">${item.nombre}</td>
                            </tr>`;
                        $('#clientesTable').append(row);
                    });
                } else {
                    $('#clientesTable').append('<tr><td colspan="4">No se encontraron resultados para "' + query + '"</td></tr>');
                }
            },
            error: function (xhr, status, error) {
                console.log('Error al obtener resultados de búsqueda');
            }
        });

        
    });
    
</script>
{% endblock %}